<nav class="navbar navbar-expand-lg navbar-light">
    <img src="/../assets/TidyLogo.png" width="65" height="65" alt="TidyLogo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" [routerLink]="['/home']" style="font-weight:bold">Home</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
         <li class="nav-link">
            <a class="nav-link" [routerLink]="['/jobpost']" *ngIf='authservice.loggedIn()'>Post job</a>
        </li>
        <li class="nav-link">
                <a class="nav-link" [routerLink]="['/adminpanel']" *ngIf='authservice.loggedIn()'>Admin panel</a>
            </li>

        <li class="nav-link">
            <a class="nav-link" [routerLink]="['/viewjobs']">View jobs</a>
        </li>
        <li class="nav-link" *ngIf='authservice.loggedIn()'>
            <a class="nav-link" [routerLink]="['/profile']">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link" *ngIf='!authservice.loggedIn()'>
            <a class="nav-link" [routerLink]="['/login']">LogIn <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link" *ngIf='!authservice.loggedIn()'>
            <a class="nav-link" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link">
            <a class="nav-link" href="#" (click)="logoutUser()" *ngIf='authservice.loggedIn()'>LogOut <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>