<div class="container">
<form class="form" #form=ngForm (submit)="loginUser()">
    <fieldset>
     <legend>LogIn</legend>
     <div class="row">
       
      <div class="col-sm-12">
          <div class="row">
            <div class="col-xs-4">
            <label for="exampleInputPassword1">User Name :</label>
          </div>
          <div class="col-xs-8">
            <input type="text" class="form-control" id="userename" placeholder="User Name" name="username" [(ngModel)]="username" required>
          </div>
        </div>
      </div>

      <div><br><br></div>

      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label for="exampleInputPassword1">Password :</label>
          </div>
          <div class="col-xs-8">
            <input type="password" class="form-control" id="userpassword" placeholder="Password" name="password" [(ngModel)]="password" required>
          </div>
        </div>
      </div>

      <div><br><br></div>

      <button type="submit" class="btn btn-primary center-block" [disabled]="!form.valid">Submit</button>
     </div>
    </fieldset>
  </form>
</div>