<div class="outerbox">
  <h2 class="name">How app is work?</h2><hr>
<div id="menuitem">
    <p>Drivers can share their seat with more than one different passengers.</p>
    <p>Develop drivers quality by showing passengers destination by google maps, passengers arrival time.</p>
    <p>Not a compulsory order for both drivers and passengers they can choose driver or passenger according to their requirement as example driver can give notification to all passengers that he’ll not allowed to pets and drunken people.</p>
    <p>Safe passengers & drivers-when users register t our app we’ll collect NIC, Drivers license photos &numbers and verify them using Artificial intelligence(In initial stages we’ll do it both automatically  and manually)</p>
    <p>Waiting &cancel-we know your time is very valuable we introduce very efficient way that reduce waiting & cancelation.</p>
    <p>Specification of this app in user can switch to driver and passenger, For drivers It’s like part time job while you are doing your own route.</p>
    
</div>
</div> 