<div class="container">
<form class="form" #form=ngForm (submit)="registerData()">
    <fieldset>
      <legend>Register</legend>
      <div class="row">

        <div class="col-sm-12">
          <div class="row">
             <div class="col-xs-4">
                <label for="exampleInputPassword1">Full Name :</label>
             </div> 
             <div class="col-xs-8">
                <input type="text" class="form-control" id="inputfullname" placeholder="Your Full name" name="fullname" [(ngModel)]="fullname" required>
            </div>
          </div>
        </div>
        
        <div><br><br></div>

        <div class="col-sm-12">
           <div class="row">
             <div class="col-xs-4">
               <label for="exampleInputPassword1">User Name :</label>
             </div>
             <div class="col-xs-8">
               <input type="text" class="form-control" id="inputname" placeholder="Your username" name="username" [(ngModel)]="username" required>
             </div>
           </div>
        </div>

        <div><br><br></div>

        <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                <label for="exampleInputPassword1">NIC :</label>
              </div>
              <div class="col-xs-8">
                <input type="text" class="form-control" id="inputnic" placeholder="Your NIC" name="nic" [(ngModel)]="nic" required>
              </div>
            </div>
         </div>
 
         <div><br><br></div>

        <div class="col-sm-12">
            <div class="row">
               <div class="col-xs-4">
              <label for="exampleInputPassword1">Email :</label>
            </div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputemail" placeholder="Your email" name="email" [(ngModel)]="email" required>
            </div>
          </div>
        </div>

        <div><br><br></div>

        <div class="col-sm-12">
            <div class="row">
               <div class="col-xs-4">
              <label for="exampleInputPassword1">Phone No :</label>
            </div>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputphoneno" placeholder="Your Phone number" name="phoneno" [(ngModel)]="phoneno" required>
            </div>
          </div>
        </div>

        <div><br><br></div>

        <div class="col-sm-12">
            <div class="row">
               <div class="col-xs-4">
            <label for="exampleInputPassword1">Password :</label>
          </div>
          <div class="col-xs-8">
            <input type="password" class="form-control" id="inputpassword" placeholder="Your password" name="password" [(ngModel)]="password" required>
          </div>
        </div>
      </div>

      <div><br><br></div>

      <button type="submit" [disabled]="!form.valid" class="btn btn-primary center-block">Submit</button>

    </div> 
    </fieldset>
  </form>
</div>